.logo {
    display: flex;
    width: 180px;
    height: 75px;
    background-color: #FFADDB;
    margin-top: -10px;
    margin-left: 20px;
    justify-content:center;
    align-items: center;
    font-size: 36px;
    font-family: cursive;
    font-style: italic;
    position:fixed;
    z-index: 1;
}

.img-section img{
    width: 100%;
    height:700px;
    object-fit:cover;
    text-align: center;
    /* border-bottom: #635484 ;
    border-style: solid;
    border-width: 10px; */
    margin-bottom: -5px;
    color: #000;
    border-bottom:solid 3px;
}

body {
    margin: 0;
}

.img-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: linear-gradient(to bottom, #001f3f, transparent);
}

@media screen and (min-width: 1301px) {
    .quote {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:whitesmoke;
        font-size: 45px;
        z-index: 1;
        text-shadow: 0px 0px 10px #000000;
    }
}


@media screen and (max-width: 1300px) {
    .quote {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:whitesmoke;
        font-size: 25px;
        z-index: 1;
        text-shadow: 0px 0px 10px #000000;
    }
  }

.subject-container {
    width: 10%;
    height:100%;
    background-color: #333962;
    text-align: center;
    border-right:solid 3px;
    border-bottom:solid 3px;
    color: #000;

}
.subject {
    font-size: 18px;
    padding: 10px;
    color: #000;
    border-bottom:solid 3px;
}

.subject:hover{
    background-color: #635484;
    cursor: pointer
}
.subject span {
    color: whitesmoke;
    word-wrap: break-word;
}

.content-main {
    display: flex;
    background-color: #635484;
    color: whitesmoke;
    font-size: 1.2rem;
}

.content-main p {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}

.artTitle {
    text-align: center;
    font-size: 2em;
}

.video {
    width: 250px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #000;
    margin: 20px;
    padding:20px;
}